<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Todo</a><br />
<table>
    <tr>
        <th>Taskname</th>
        <th>Duedate</th>
        <th>Prioritys</th>
        <td>Actions</td>
    <tr>
    <tr th:each="todo : ${todo}">
        <!--/*@thymesVar id="todo" type=""*/-->
        <!--/*@thymesVar id="taskname" type=""*/-->
        <td th:text="${todo.taskname}"></td>
        <td th:text="${todo.duedate}"></td>
        <td th:text="${todo.priority}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${todo.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${todo.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${todo.id})}">Delete</a> -
        </td></tr>
</table>
</body>
</html>